.region.fancy.rotate-default{:style => 'padding:0'}
  .container
#content.region
  .container
    %section
      %h2.title.sixteen.columns.alpha
        =t('musicas.index.title')
      
      .sixteen.columns.alpha.gallery-type.soundcloud
        %ul
          - for musica in @musicas
            %li.columns.thirteen.offset-by-one
              %iframe{:src => 'http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F54864119&show_artwork=true', :width => '100%', :height => '166', :scrolling => 'no', :frameborder => 'no'}
      
                



  

%table
  %thead
    %tr
      %th
        =t('activerecord.attributes.musica.soundcloud')
      %th{ :colspan => 3 }

  %tbody
    - for musica in @musicas
      %tr{ :class => cycle(:odd, :even) }
        %td= raw(musica.soundcloud)
        %td= link_to t('show'), musica
        %td= link_to t('edit'), edit_musica_path(musica)
        %td= link_to t('destroy'), musica, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('musica.new'), new_musica_path
