%h1 
  =t('musicas.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.musica.soundcloud')
      %th{ :colspan => 3 }
  
  %tbody
    - for musica in @musicas
      %tr{ :class => cycle(:odd, :even) }
        %td= musica.soundcloud
        %td= link_to t('show'), musica
        %td= link_to t('edit'), edit_musica_path(musica)
        %td= link_to t('destroy'), musica, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('musica.new'), new_musica_path
