= "Olá, " + @contato.nome.capitalize + " tem escrevido a seguente mensagem na web de Caracunde."
%br
%br
= @contato.mensagem

%br
%br
= "Pode procurar " + @contato.nome + " em:"
%br
E-mail: 
= @contato.email
%br
Telefone: 
= @contato.telefone
