= form_for(@contato, :html => {:class => 'twelve columns'}) do |f|

  - if @contato.errors.any?
    #errorExplanation
      %h2= t('activerecord.errors.messages.contato.invalid_record')
      %ul
      - @contato.errors.full_messages.each do |msg|
        %li= msg
  .six.columns.alpha
    .field
      = f.label :nome
      = f.text_field :nome
    .field
      = f.label :email, "E-mail"
      = f.text_field :email
    .field
      = f.label :telefone
      = f.text_field :telefone
  .six.columns.omega
    .field
      = f.label :mensagem
      = f.text_area :mensagem
    .actions
      = f.submit I18n.t('send')

