%h1 
  =t('patrocinadores.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.patrocinador.link')
      %th{ :colspan => 3 }
  
  %tbody
    - for patrocinador in @patrocinadores
      %tr{ :class => cycle(:odd, :even) }
        %td= patrocinador.link
        %td= link_to t('show'), patrocinador
        %td= link_to t('edit'), edit_patrocinador_path(patrocinador)
        %td= link_to t('destroy'), patrocinador, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('patrocinador.new'), new_patrocinador_path
