#content.region.fancy.rotate-default
  .container
    %section.rotate-prevent
      %h2.title.sixteen.columns.alpha
        =t('videos.index.title')
      
      .sixteen.columns.alpha.gallery-type
        %ul
          - for video in @videos
            %li.columns.seven
              .share-links-type.seven.columns.alpha
                .inner
                  %span.label Compartir en
                  %ul
                    %li.facebook
                      %a
                    %li.twitter
                      %a
              = video.link_html       
              
        .sixteen.columns.alpha.pagination-type
          = will_paginate @videos
      



%h1 
  =t('videos.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.video.link')
      %th{ :colspan => 3 }
  
  %tbody
    - for video in @videos
      %tr{ :class => cycle(:odd, :even) }
        %td= video.link
        %td= link_to t('show'), video
        %td= link_to t('edit'), edit_video_path(video)
        %td= link_to t('destroy'), video, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('video.new'), new_video_path
