.container
  %section.rotate-prevent
    %h2.title.sixteen.columns.alpha
      =t('videos.index.title')
    - if current_usuario
      .admin-links
        = link_to 'Crear', new_video_path, :class => 'button new'
    .sixteen.columns.alpha.gallery-type
      %ul
        - for video in @videos
          %li.columns.eight
            .share-links-type.eight.columns.alpha
              .inner
                %span.label Compartir en
                %ul
                  %li.facebook
                    = link_to '', "http://www.facebook.com/sharer.php?u=#{ request.protocol + request.host_with_port + video_path(video) }", :target => '_blank'
                  %li.twitter
                    = link_to '', "http://www.twitter.com/home?status=#{ request.protocol + request.host_with_port + video_path(video) }", :target => '_blank'
            = video.link_html       
              
      .sixteen.columns.alpha.pagination-type
        = will_paginate @videos
        - if current_usuario
          .admin-links
            = link_to t('edit'), edit_video_path(video), :class => 'button edit'
            = link_to t('destroy'), video, :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button delete'

      
