.container
  %section.rotate-prevent
    %h2.title.sixteen.columns.alpha
      =t('integrantes.index.title')
    - if current_usuario
      .admin-links
        = link_to t('integrante.new'), new_integrante_path, :class => 'button add'

    - for integrante in @integrantes
      %article.sixteen.columns.alpha
        %figure.inner.eight.columns.omega
          = link_to image_tag('/images/images/img-integrante-index.jpg'), integrante
        .inner.eight.columns.alpha
          %header
            %h3
              = integrante.nome
          %div
            = integrante.pais
            = sanitize(simple_format(truncate(integrante.descricao, :length => 370, :omission => '...')), :tags => %w(p i br b))
        %footer
          = link_to t('show'), integrante, :class => 'btn see-more'
          - if current_usuario
            .admin-links
              = link_to t('edit'), edit_integrante_path(integrante)
              = link_to t('destroy'), integrante, :confirm => I18n.t('confirm_delete'), :method => :delete


