#content.region.fancy.rotate-default
  .container
    %section.rotate-prevent
      %h2.title.sixteen.columns.alpha Alvaro
      
      .share-links-type.eight.columns.alpha.omega
        .inner
          %span.label Compartir en
          %ul
            %li.facebook
              = link_to '', 'google.com'
            %li.twitter
              = link_to '', 'google.com'
      .sixteen.columns.alpha
        .figure.inner.eight.columns.omega
          = image_tag('/images/images/img-integrante-index.jpg')
        %div
          %p
            Ruby
        .sixteen.columns.alpha Facebook Chat
        .footer
          = link_to 'Atr‡s', 'google.com', :class => 'link back'
            
              




%p
  %strong t('activerecord.attributes.integrante.nome')
  = @integrante.nome
%p
  %strong t('activerecord.attributes.integrante.descricao')
  = @integrante.descricao
%p
  %strong t('activerecord.attributes.integrante.pais')
  = @integrante.pais
%p
  = image_tag(@integrante.retrato(:medium))
== #{ link_to t('edit'), edit_integrante_path(@integrante) } | #{ link_to t('back'), integrantes_path }
