%section#preface-bottom.region.border-region
  .container
    %h6.title.sixteen.columns.omega Noticias

    - @posts.each do |post|
      %article.eight.columns
        %header
          %h2
            = post.titulo
        .four.columns.alpha
          = sanitize(simple_format(truncate(post.conteudo, :length => 370, :omission => '...')), :tags => %w(p i br b))
        %figure.four.columns.omega
          = link_to image_tag(post.imagen(:medium)), post
        %footer
          = link_to t('posts.index.read_more'), post, :class => 'btn read-more first'
          %span.btn.date.last 03 julio


#content-inner.region
  .container
    %article.rotate-prevent
      %h6.title.sixteen.columns.alpha Caracunde
      .eight.columns.alpha
        %p
          = render 'caracunde_objetivo'
      %figure.eight.columns
        %iframe{:src => 'http://www.youtube.com/embed/WIOWaIkbk-k', :width => '420', :height => '315', :frameborder => '0'}
