%section#preface-bottom.container.region
  %h6.title.sixteen.columns.omega Noticias
  
  %article.eight.columns
    %header
      %h2 title
    .four.columns.alpha
      %p blablabla
    %figure.four.columns.omega
      = link_to image_tag('/images/images/img-article-front.jpg')
    %footer
      = link_to 'Leer Art’culo Completo', :class => 'btn read-more first'
      %span.btn.date.last 03 julio
      

 

%h1 Home#index
%p Find me in app/views/home/index.html.haml
- @posts.each do |post|
  = post.titulo
  = post.conteudo
  = image_tag(post.imagen(:medium))
