%h1
  =t('albums.index.title')

%table
  %thead
    %tr
      %th
        =t('activerecord.attributes.album.nome')
      %th{ :colspan => 3 }

  %tbody
    - for album in @albums
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to album.nome, album
        - unless album.fotos.empty?
          %td= image_tag album.fotos.first.foto(:medium)
        %td= link_to t('edit'), edit_album_path(album)
        %td= link_to t('destroy'), album, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('album.new'), new_album_path
