%p
  = @album.nome

= link_to 'Adicionar Foto', new_album_foto_path(@album)

- if @album.fotos.empty?
  %p
    Album vazio
- else
  - @album.fotos.each do |foto|
    = image_tag(foto.foto(:medium))
    = link_to t('destroy'), { :controller => 'fotos', :action => 'destroy', :id => foto.id, :album_id => @album.id }, :confirm => I18n.t('confirm_delete'), :method => :delete

== #{ link_to t('edit'), edit_album_path(@album) } | #{ link_to t('back'), albums_path }
