%h1 
  =t('posts.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.post.titulo')
      %th 
        =t('activerecord.attributes.post.conteudo')
      %th 
        =t('activerecord.attributes.post.data')
      %th{ :colspan => 3 }
  
  %tbody
    - for post in @posts
      %tr{ :class => cycle(:odd, :even) }
        %td= post.titulo
        %td= post.conteudo
        %td= post.data
        %td= link_to t('show'), post
        %td= link_to t('edit'), edit_post_path(post)
        %td= link_to t('destroy'), post, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('post.new'), new_post_path


