.container
  %section.rotate-prevent
    %h6.title.sixteen.columns.alpha
      =t('posts.index.title')
    - if current_usuario
      #admin-links
        = link_to t('post.new'), new_post_path, :class => 'button add'

    - for post in @posts
      %article.eight.columns{ :class => cycle(:odd, :even) }
        %header
          %h2
            = post.titulo
        .four.columns.alpha
          = sanitize(simple_format(truncate(post.conteudo, :length => 305)), :tags => %w(p i br b))
        %figure.four.columns.omega
          = image_tag(post.imagen(:medium))
        %footer
          = link_to t('posts.index.read_more'), post, :class => 'btn read-more first'
          %span.btn.date.last
            = post.data
          - if current_usuario
            .admin-links
              = link_to t('edit'), edit_post_path(post)
              = link_to t('destroy'), post, :confirm => I18n.t('confirm_delete'), :method => :delete
