%section#preface-bottom.container.region
  %h6.title.sixteen.columns.omega Noticias

%p
  %strong t('activerecord.attributes.post.titulo')
  = @post.titulo
%p
  %strong t('activerecord.attributes.post.conteudo')
  = @post.conteudo
%p
  %strong t('activerecord.attributes.post.data')
  = @post.data
%p
  = image_tag(@post.imagen(:medium))
== #{ link_to t('edit'), edit_post_path(@post) } | #{ link_to t('back'), posts_path }
