#content.region.fancy.rotate-default
  .container
    %section.rotate-prevent
      %h6.title.sixteen.columns.alpha
        = @post.titulo
      .share-links-type.eight.columns.alpha.omega
        .inner
          %span.label Compartir en
          %ul
            %li.facebook
              %a
            %li.twitter.last
              %a
      .sixteen.columns.alpha
        %span.top-date.btn
          = @post.data
        .figure.inner.eight.columns.omega
          = image_tag(@post.imagen(:full))
        %div
          = sanitize(simple_format(@post.conteudo), :tags => %w(p i br b))
        .sixteen.columns.alpha Facebook chat
        .footer
          = link_to 'Atr‡s', posts_path, :class => 'link back'
            
            
            

%section#preface-bottom.container.region
  %h6.title.sixteen.columns.omega Noticias

%p
  %strong t('activerecord.attributes.post.titulo')
  = @post.titulo
%p
  %strong t('activerecord.attributes.post.conteudo')
  = @post.conteudo
%p
  %strong t('activerecord.attributes.post.data')
  = @post.data
%p
  = image_tag(@post.imagen(:medium))
== #{ link_to t('edit'), edit_post_path(@post) } | #{ link_to t('back'), posts_path }
