#content-inner.region
  .container
    %section
      %h6.title.sixteen.columns.alpha
        = page_title! @post.titulo
      .share-links-type.eight.columns.alpha.omega
        .inner
          = render 'shared/social_links'
      .sixteen.columns.alpha
        %span.top-date.btn
          = @post.data
        .figure.inner.eight.columns.alpha.omega
          = image_tag(@post.imagen(:full))
        .eight.columns.alpha.omega
          = sanitize(simple_format(@post.conteudo), :tags => %w(p i br b))
        .sixteen.columns.alpha
          #facebook-comments
            = render 'shared/facebook_comments'
        .footer
          = link_to t('back'), posts_path, :class => 'link back'
          - if current_usuario
            = link_to t('edit'), edit_post_path(@post), :class => 'button edit'

