= form_for(@foto, :html => { :multipart => true }, :url => { :action => 'create', :album_id => params[:album_id]}) do |f|

  - if @foto.errors.any?
    #errorExplanation
      %h2= t('activerecord.errors.messages.foto.invalid_record')
      %ul
      - @foto.errors.full_messages.each do |msg|
        %li= msg
  .field
    = f.label :foto
    %br
    = f.file_field :foto

  .actions
    = f.submit I18n.t('submit')
