%h1 
  =t('fotos.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.foto.album_id')
      %th{ :colspan => 3 }
  
  %tbody
    - for foto in @fotos
      %tr{ :class => cycle(:odd, :even) }
        %td= foto.album_id
        %td= link_to t('show'), foto
        %td= link_to t('edit'), edit_foto_path(foto)
        %td= link_to t('destroy'), foto, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('foto.new'), new_foto_path

