.menu
  %nav.fifteen.columns
    %ul
      %li
        = link_to_unless_current t('posts.index.title'), posts_path do
          %span
            =t('posts.index.title')
      %li
        = link_to_unless_current t('integrantes.index.title'), integrantes_path do
          %span
            =t('integrantes.index.title')
      %li
        = link_to_unless_current t('videos.index.title'), videos_path do
          %span
            =t('videos.index.title')
      %li
        = link_to_unless_current t('fotos.index.title'), albums_path do
          %span
            =t('fotos.index.title')
      %li
        = link_to_unless_current t('musicas.index.title'), musicas_path do
          %span
            =t('musicas.index.title')
      %li
        = link_to_unless_current t('contato.index.title'), new_contato_path do
          %span
            =t('contato.index.title')

      - if current_usuario
        %li
          = link_to_unless_current t('patrocinador.index.title'), patrocinadores_path do
            %span
              t('patrocinador.index.title')
    %ul{:class => "#{I18n.locale }" + ' countries'}
      %li.peru
        = link_to image_tag('/images/icons/ico-flag-per.png'), url_for( :locale => 'es' )
      %li.usa
        = link_to image_tag('/images/icons/ico-flag-usa.png'), url_for( :locale => 'en' )
      %li.brazil
        = link_to image_tag('/images/icons/ico-flag-bra.png'), url_for( :locale => 'pt' )



