!!!
%html

  %head
    %title
      = page_title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "/stylesheets/base.css", "/stylesheets/skeleton.css", "/stylesheets/screen.css", "http://fonts.googleapis.com/css?family=Capriola"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
    == <meta name="keywords" content="Musica afro-peruana, musica peruana en brasil" />
    == <meta name="description" content="Caracunde é um grupo de musica afro-peruana, apresenta ritmos nascidos na costa peruana e tem objetivo de levar e difundir a cultura afroperuana, tanto na percussão como no canto, dança e poesia." />
    == <meta name="googlebot" content="index,follow" />
    == <meta name="robots" content="index,follow" />
    == <meta name="Revisit-After" content="7 days" />
    == <meta name="city" content="Tatui" />
    == <meta name="country" content="Brasil(BR)" />
    == <meta name="state" content="São Paulo" />
    == <meta name="zip code" content="Tatui" />
    == <meta name="subject" content="Caracunde" />
    == <meta name="author" content="Kosmyka.com" />
    == <meta name="copyright" content="&copy;Caracunde Todos los derechos reservados" />
    == <meta name="geo.placename" content="São Paulo, Brasil" />
    == <meta name="geo.region" content="BR-SaoPaulo" />

  %body{:id => bodyid, :class => bodyclass}
    %header.main.region.border-region
      #main-menu.container
        = render 'layouts/menu'
      #slider
        .flexslider.carousel
          %ul.slides.rotate-prevent-img
            %li.royalSlide
              = image_tag("/images/images/img-slide.jpg")
      #logo
        %h1#logo-wrapper.container
          %span Caracunde
          = link_to image_tag("/images/logo.png"), root_path, :class => 'eight columns'

    #main
      #content.region.border-region
        - flash.each do |name, msg|
          #alert-top
            = content_tag :div, msg, :id => "flash_#{name}", :class => "container"
        = yield

    #postscript-top.region.border-region.gallery-type
      .container.rotate-prevent
        %h6.title.sixteen.columns.omega= t('patrocinadores.index.title')
        %ul
          - @patrocinadores.each do |patrocinador|
            %li.three.columns
              = link_to(image_tag(patrocinador.logo(:medium)), patrocinador.link)

    %footer.main.region.fancy.rotate-default
      .container.rotate-prevent
        .five.columns
          %p
            Brasil:
            - if @informacao
              = @informacao.telefone
            %br
            info@caracunde.com
        .six.columns.link-type
          %ul
            %li.facebook
              = link_to '', 'http://www.facebook.com/pages/Caracunde-Musica-Afro-Peruana/210670762289390', :target => '_blank'
            %li.twitter
              = link_to '', 'http://twitter.com/caracunde', :target => '_blank'
            %li.rss
              = link_to '', '', :target => '_blank'
        .five.columns
          = image_tag('/images/logo-footer.png')
        #footer-bottom.sixteen.columns
          %p#copyright.eight.columns.alpha
            = 'Caracunde 2012, ' + t('layout.copyright')
          %p#author.eight.columns.omega
            = t('layout.desenvolvimento')
            = link_to 'kosmyka', 'http://www.kosmyka.com', :target => '_blank'
    .dimension


